@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    color: #FCB2F3;
}

a {
  text-decoration: none;
  
}

img {
  width: 100%;
}

.nav-container {
  background: #9B6FFA;
}

.nav-container a {
  color: #FCB2F3;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em;
}

header .logo {
  color: white;
  font-weight: bold;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul a {
  display: block;
  padding: 0 1em;
}

h1 {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 5.5rem;
  padding-left: 2.5rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#websiteby {
    padding-left: 3rem;
    padding-top: 0;
    margin-top: 0;
    color: #F09CD3;
}

.content {
  width: 100%;
  background-color: #7440ea;
  height: 500px;
  margin-bottom: 167px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meet {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#box {
    color: #F09CD3;
    padding-bottom: 2rem;
}

.secondcontainer {

    margin-top: 200px;
    font-family: "Roboto", sans-serif;

    h2 {
        margin: 0%;
        font-size: 3rem;
    }

    #aboutmyself {
        margin: 0%;
        font-weight: bold;
        color: #7440EA;

    }

    h3 {
        font-weight: lighter;
        text-align: center;
        padding: 1em;
    }

    #comin {
        display: flex;
        flex-direction: column;
        width: 50%;
        justify-content: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        font-family: "Roboto", sans-serif;
    }

    .comingsoon {
        background-color: #7440ea;
    }

    .boxx {
        display: block;
        padding: 1rem;
        border: 1px solid white;
        border-radius: 50px;
        box-shadow: 0px 0px 20px #0000008a;
    }

    .aboutme {
        display: flex;
        flex-direction: column;
        align-items: center;

    }



}


.dandd {
    margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    background-color: #7440ea;
    align-items: center;
    margin-bottom: 200px;

    #dev {
        width: 50%;
        padding-bottom: 40px;
    }

    #des {
        width: 50%;
    }
}

.footer {
    text-align: center;
    color: white;
    padding: 1rem;
    background-color: #7440EA;

    .footerlinks {
        display: flex;
        justify-content: space-around;
        text-decoration: none;

    a {
        color: #FCB2F3;
    }
    }
}

@media only screen and (max-width: 650px) {
  header {
    padding-left: 1rem;

  }

  h1 {
      font-size: 3.5rem;
      padding-left: 1rem;
  }

    #websiteby {
        padding-left: 1rem;
    }
  }


@media only screen and (min-width: 910px) {
    .nav-container {
        margin-right: 30%;
    }

    .content {
        position: relative;
        width: 80%;
    }
    h1 {
        padding-top: 3.5rem;
        padding-left: 3rem;
        }
    
    .secondcontainer {
        display: flex;
        flex-wrap: wrap;
    }

    .boxx {
        width: auto;
        margin-top: 70px;
        background-color: white;
    }

    .comingsoon {
        width: 50%;
    }
    
    .aboutme {
        width: 50%;
        justify-content: center;
    }

    .abtme {
        align-self: auto;
    }

    h1 {
        padding-left: 2.5rem;
    }

    h2 {
        font-size: 5rem !important;
    }

    h3 {
        width: 100%;
        font-size: 1.5rem;
        margin-top: 150px;
        justify-content: center;
    }

    .dandd {
        flex-direction: row;
        justify-content: center;

        #dev {
            width: 25%;
            padding-bottom: 0;

        }

        #des {
            width: 25%;
        }



        }

    .footer {
        .footerlinks {
            justify-content: start;
            padding: 20px;
            margin-left: 5%
        }

        #blogs {
            padding-left: 2em;
            padding-right: 2em;
        }
    }
    }

/*# sourceMappingURL=main.css.map */
