html {
    background-image: url("images/web1.png");
    background-size: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Comorant Garamond", sans-serif;
    color: white;
    display: flex;
    position: absolute;
    top: 30vh;
    padding-left: 12vw;
    font-size: 4vw;
}

a {
    text-decoration: none;
    place-items: left;
    color: azure;
    font-family: "Comorant Garamond", sans-serif;
    display: flex;
    display: inline-block;
    position: relative;
    padding: 2em;
    left: 55vw;
}

img {
    height: auto;
    place-items: right;
    width: 75vw;
    display: flex;
    position: absolute;
    padding-left: 24vw;
    overflow: hidden;
    object-fit: cover;

}

@media only screen and (max-width: 719px) {
    h1 {
    font-family: "Comorant Garamond", sans-serif;
    color: white;
    display: inline;
    top: 50vh;
    padding-left: 0vw;
    font-size: 4vw;
    text-align: center;
    width: 100%;
    }

    img {
    height: auto;
    align-items: center;
    padding-left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }

    a {
    left: 0;
    }

    .buttons {
    text-align: center;
    }
}